<div style="text-align: center; margin-top: 20px">
  <h1>Posts</h1>
</div>

<div class="table-container">
  <button mat-raised-button color="primary" (click)="openDialog()">
    Create Post
  </button>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let post">{{ post.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Title
      </mat-header-cell>
      <mat-cell *matCellDef="let post">{{ post.title }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="body">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Body
      </mat-header-cell>
      <mat-cell *matCellDef="let post">{{ post.body }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let post">
        <button mat-button (click)="openDialog(post)">Edit</button>
        <button mat-button color="warn" (click)="deletePost(post.id)">
          Delete
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>
