<div class="mat-elevation-z8">
<mat-table  [dataSource]="data">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
    <mat-cell *matCellDef="let data"> {{data.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="imageUrl">
    <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
    <mat-cell *matCellDef="let data"> <img [src]="data.imageUrl" width="100" height="100" /></mat-cell>
  </ng-container>

  <ng-container matColumnDef="productName">
    <mat-header-cell mat-header-cell *matHeaderCellDef> Product Name </mat-header-cell>
    <mat-cell *matCellDef="let data"> {{data.productName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="price">
    <mat-header-cell mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
    <mat-cell *matCellDef="let data"> {{data.price}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row >
  <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
</mat-table>

<mat-paginator #paginator
               class="demo-paginator"
               (page)="handlePageEvent($event)"
               [length]="length"
               [pageSize]="pageSize"
               [disabled]="disabled"
               [showFirstLastButtons]="showFirstLastButtons"
               [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
               [hidePageSize]="hidePageSize"
               [pageIndex]="pageIndex"
               aria-label="Select page">
</mat-paginator>

<!-- <div class="demo-data">
  <div> Output event: {{(pageEvent | json) || 'No events dispatched yet'}} </div>
  <div> getNumberOfPages: {{paginator.getNumberOfPages()}} </div>
</div>
</div> -->
